.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.review .child1 .heading{
    font-size: 40px;
    font-weight: bold;
    
}

.review .child1 .heading span{
    color: purple;
}

.child2 {
  display: flex;
  gap: 20px;
  padding: 40px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewBox {
  width: 320px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 6 10px 40px rgba(32, 30, 30, 0.15);
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 190, 207);
  gap: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userInfo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo h4 {
  margin: 0;
  font-size: 16px;
}

.stars {
  color: gold;
  font-size: 14px;
  margin-top: 4px;
}

.reviewText p {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

/* Responsive */
@media (max-width: 768px) {
  .reviewBox {
    width: 100%;
    max-width: 400px;
  }
  .review .child1 .heading{
    text-align: center;
  }
}
