.footer {
    display: flex;
    justify-content: space-around;
}

.footer .mainh {
    font-size: 20px;
    font-weight: 700;
    color: rgb(15, 15, 160);
    margin-bottom: 20px;
}

.footer .icon {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    cursor: pointer;

}

.footer .iconsContainer1 {
    display: flex;
}

.footer .child1 .input input{
    background: rgb(234, 121, 234);
    padding: 2px 8px;
    border-radius: 20px;
    /* color: white; */
    font-weight: bold;
}

.footer .child1 .btn{
    font-size: 18px;
    border: 1px solid purple;
    margin-top: 20px;
    width:fit-content;
    padding: 2px 10px;
    border-radius: 30px;
    cursor: pointer;
    background: rgb(234, 121, 234);
}

.footer .iconss{
    cursor:default;
}

@media (max-width: 912px){
    .footer{
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
    }

    .footer .child11{
        margin-top: 30px;
    }
}
@media (max-width: 650px){
    .footer{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 100%;
        gap: 10px;
    }
   

}