.hero {
  width: 100%;
  height: 99vh;
  background-image: url("/Assets/image/bg1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  display: flex;
  width: 90%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
    color:  black;

}

/* Left Side */
.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color:  black;
  /* padding: 20px; */
  border-radius: 8px;
  max-width: 45%;

}

.heading h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.2;
  overflow: hidden;
}

.paragraph p {
  font-size: 18px;
  font-weight: semi-bold;
  line-height: 1.6;

}

.buttonWrapper {
  margin-top: 40px;
}

.shopBtn {
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  /* overflow: hidden; */
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background: purple;
}

.shopBtn:hover {
  transform: scale(1.01);
}

/* Right Side */
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.productImage img {
  width: 480px;
  height: auto;
  border-radius: 10px;
}

.socialIcons ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;

}

.socialIcons  li{
  list-style-type: none;
}

.socialIcons li svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.socialIcons li svg:hover {
  transform: scale(1.2);
}

/* Responsive */
@media screen and (max-width: 1340px) {


  .productImage img {
    width:500px;
  }
}
@media screen and (max-width: 1024px) {
  .overlay {
    /* flex-direction: column; */
    align-items: center;
    /* gap: 20px; */
  }

  .left, .right {
    max-width: 100%;
  }

  .productImage img {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .left {
    max-width: 100%;
    padding: 15px;
  }

  .productImage img {
    width: 300px;
  }
}
@media screen and (max-width: 610px) {
  .left {
    max-width: 100%;
    padding: 15px;
  }

  .productImage img {
display: none;  }
}
