@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-y: auto; /* ensure vertical scrolling on page */
  margin: 0;
  padding: 0;
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  width: 14px; /* thickness */
}

html::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb {
  background-color: purple; /* your inside color */
  border-radius: 10px;
  border: 4px solid #f0f0f0;  /* space around thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background-color: darkviolet;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: purple #f0f0f0;
}
